<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>

        <form #formRef="ngForm" [formGroup]="form" (ngSubmit)="login()">
          <fieldset class="form-group">
            <input
              name="email"
              class="form-control form-control-lg"
              type="text"
              placeholder="Email"
              formControlName="email"
              [class.is-valid]="isValid(form.controls['email'], formRef)"
              [class.is-invalid]="isInvalid(form.controls['email'], formRef)"
            />
            <p *ngIf="isInvalid(form.controls['email'], formRef)" class="text-danger">
              帳號格式不正確
            </p>
          </fieldset>
          <fieldset class="form-group">
            <input
              name="password"
              class="form-control form-control-lg"
              type="password"
              placeholder="Password"
              formControlName="password"
              [class.is-valid]="isValid(form.controls['password'], formRef)"
              [class.is-invalid]="isInvalid(form.controls['password'], formRef)"
            />
            <p *ngIf="isInvalid(form.controls['password'], formRef)" class="text-danger">
              密碼格式不正確
            </p>
          </fieldset>
          <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
